@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
    width: 5px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track translucent */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #7D7D7D; /* Set the color to grey */
    border-radius: 5px; /* Adjust the border radius as needed */
    border: 1px solid #7d7d7d; /* Add a border for better visibility */
}